@page
@model APP.Pages.Admin.ManageOrder.IndexModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Order Management";
}
<html>
<head>
    <style>
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
            margin-right: 10px;
        }

        input[type="text"], select {
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 16px;
            width: 200px;
            max-width: 100%;
        }

        select {
            background-color: #fff;
        }

        button[type="submit"] {
            padding: 8px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
        }

            button[type="submit"]:hover {
                background-color: #0062cc;
            }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

            .pagination a, .pagination span {
                display: inline-block;
                margin-right: 5px;
                padding: 5px 10px;
                border: 1px solid #ccc;
                border-radius: 3px;
                color: #333;
                text-decoration: none;
            }

                .pagination a:hover {
                    background-color: #f5f5f5;
                }

            .pagination span {
                background-color: #333;
                color: #fff;
            }

                .pagination a.disabled, .pagination span.disabled {
                    pointer-events: none;
                    opacity: 0.5;
                    cursor: default;
                }

        .button {
            font: bold 11px Arial;
            text-decoration: none;
            background-color: #EEEEEE;
            color: #333333;
            padding: 2px 6px 2px 6px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
        }

    </style>
</head>
<body>
    <form method="get">
        @*<label for="search">Search:</label>*@
        @*<input type="text" id="search" placeholder="Input name to search..." name="searchText" value="@Model.ProductQuery.SearchText" />*@
        @*<label for="member">Member:</label>*@
        @*<select id="member" name="memberId">
            <option value="">All members</option>
            @foreach (var member in Model.Members)
            {
                if (!string.IsNullOrEmpty(Model.OrderQuery.MemberId) && member.MemberId == Model.OrderQuery.MemberId)
                {
                    <option value="@member.MemberId" selected="selected">@member.Email</option>
                }
                else
                {
                    <option value="@member.MemberId">@member.Email</option>
                }

            }
        </select>*@

        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date" name="startDate" value="@Model.OrderQuery.StartDate" />
        <label for="end-date">End Date:</label>
        <input type="date" id="end-date" name="endDate" value="@Model.OrderQuery.EndDate" />

        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Required Date</th>
                <th>Shipped Date</th>
                <th>Freight</th>
                <th>ShipName</th>
                <th>ShipAddress</th>
                <th>ShipCity</th>
                @*<th>Member</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td><a asp-page="../ManageOrder/OrderDetails" asp-route-orderId="@item.OrderId">@item.OrderId</a></td>
                    <td>@item.ShippedDate.ToShortDateString()</td>
                    <td>@item.RequiredDate.ToShortDateString()</td>
                    <td>@item.ShippedDate.ToShortDateString()</td>
                    <td>@item.Freight</td>
                    <td>@item.ShipName</td>
                    <td>@item.ShipAddress</td>
                    <td>@item.ShipCity</td>
                    @*<td>@item.Member.Email</td>*@
                </tr>
            }
        </tbody>
    </table>
    @{
        var pageNumber = Model.OrderQuery.Pagination.PageNumber;
        //var memberId = Model.OrderQuery.MemberId ?? string.Empty;
        var startDate = Model.OrderQuery.StartDate;
        var endDate = Model.OrderQuery.EndDate;
        var totalPages = Model.TotalPages;
        var startPage = Model.StartPage;
        var endPage = Model.EndPage;

    }

    @if (totalPages > 1)
    {
        <div class="pagination">
            @if (pageNumber > 1)
            {
                <a href="?pageNumber=@(pageNumber - 1)&startDate=@startDate&endDate=@endDate">Previous</a>
            }

            @for (int i = @startPage; i <= @endPage; i++)
            {
                if (i == pageNumber)
                {
                    <span>@i</span>
                }
                else
                {
                    <a href="?pageNumber=@i&startDate=@startDate&endDate=@endDate">@i</a>
                }
            }

            @if (pageNumber < totalPages)
            {
                <a href="?pageNumber=@(pageNumber + 1)&startDate=@startDate&endDate=@endDate">Next</a>
            }
        </div>
    }


</body>
</html>